/* import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/* set global element styles - new styling for nav bar*/
body {
  background-color: rgb(22, 22, 22);
}
* {
  margin: 0;
  padding: 0;
}
* {

margin: 0;
padding: 0;
color: inherit;
text-decoration: none;
list-style: none;
}
.main-nav {
display: flex;
height: 8vh;
justify-content: space-between;
align-items: center;
color: #ffffff;
background:  rgb(22, 22, 22);

}
.logo {
letter-spacing: 3px;
text-transform: uppercase;
font-size: 1.25rem;
padding: 0 2rem;
font-weight: 700;
font-family: 'Syncopate', Arial, Helvetica, sans-serif;
}
.nav-links {
display: flex;
width: 40%;
justify-content: space-around;
font-family:  Arial, Helvetica, sans-serif;
}
.burger {
display: none;
padding: 0.5rem;
cursor: pointer;
font-size: 1.25rem;
}
.line {
height: 2px;
width: 35px;
margin: 0.5rem 0;
background: #ffffff;
transition: transform 0.75s ease, opacity 0.75s ease;
}

@media screen and (max-width: 800px) {
.nav-links {
  width: 40%;
}
}

h1, h2, h3 {
    font-family: 'Syncopate', Arial, Helvetica, sans-serif;
    color: rgb(253, 250, 250);
}
.clear {
    clear: both; /*used to clear floats*/
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: block;
    background-color: rgb(22, 22, 22);
    z-index: 5; /*make sure the top bar sits above everything else when scrolling*/
}

#hero-container {
    width: 100%;
    height: 800px;
    margin-top: 60px;
    background: url("../img/hero-image.jpg") no-repeat center center;
    background-size: cover; /*set 100% width to scale on resize*/
}

/* Start hero styling*/
#hero-text-box {
    width: 400px;
    height: auto;
    background-color: #63606094;
    position: relative;
    top:300px;
    right:3%;
    float: right;
    text-align: center;
    padding: 30px;
}

#hero-text-box h1 {
    font-size: 3.0rem;
    color: white
    
}

#hero-text-box h2 {
    color: white;
}

/*End of hero styling */

/* Homepage content styling */

.fluid-container {
    color: #f0f0f0;
    height: auto;
    float: left;
}

 .circle-images {
    padding-top: 60px;
    display: block;
    width: 30%;
    text-align: center;
}

 .circle-images-map {
    padding-top: 60px;
    display: block;
    width: 100%;
    text-align: center;

}
 
 .circle-images-mobile {
   
    display: none;
}
 .circle {
    width: 100%;
    height: 300px;
    margin: 100px auto;
}

 .make-circle {
    width: 50%;
    border-radius: 50%;
}

.scan {
  width: 100%;
  height: 300px;
  margin: 100px auto;
}

.scan-me {
  padding-left: 10px;
  display: block;
  width: 50%;
  margin: 100px auto;
}

 .homepage-text {
    width: 60%;
    height: 100%;
    margin: 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0rem;
}

 .homepage-text h2, .homepage-text h3 {
    color: #f0f0f0;
    font-size: 2.0rem;
    text-align: center;
    margin: 60px 40px;
}

 .classes-button a{
    width: 140px;
    height: 30px;
    margin: 60px auto;
    padding-top: 2%;
    display: block;
    text-align:center;
    background-color: rgb(102, 102, 105);
    color: #f0f0f0;
    text-decoration: none;
}

 .text-link {
  color: rgba(192, 121, 27, 0.842);
  text-decoration: none;
}

 /*  contact form container*/

 #form-container {
    background-color: rgb(102, 102, 105);
    text-align: center;
    height: 300px;
}

 .send-button {
    width: 80px;
    height: 30px;
    color:rgb(22, 22, 22);
}

 .label-form{
    padding:1px;  
}

 #feedback {
    height: 100px;
    
}

 .input-form {
    height: 25px;
    width: 200px;
}
 
  /*Footer styling below*/

 #container-footer {
          
      /* Using the grid property */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      /* Making equal spaced divs */
      gap: 1rem;
}

 .box {
   
      height: 5vh;
      text-align: center;
      padding-top: 5%;
}

 #container-footer a{
   color: white;
}
 /* media Query added below*/

 @media screen and (min-width: 1025px) {
    .homepage-text {
        font-size: 1.5rem;
     }
    
    .homepage-text h2, .homepage-text h3 {
        font-size: 2.5rem;
     }

    .classes-button a{
    width: 200px;
    height: 40px;
    padding-top: 1.2%;
      }

    #form-container {
    
        height: 350px;
     } 

    #feedback {
        height: 150px;
        width:500px;
        
     }
  
  
}

   @media screen and (max-width:1024px) {
  
    .circle {
    margin: 40px auto;
      }
    .scan-me {
    display:none;
      } 
    .scan {
    display:none;
      }     
}

   @media screen and (max-width:789px) {
    .circle-images {
        padding-top: 100px;
       
      }
}

  @media screen and (max-width:643px) {
   
    header {
        width: 100%;
        height: 95px;  
      }
    .left-container {
        display:none;
      }

    #hero-text-box {
        width: 250px;
        height: auto;
        position: relative;
        top:300px;
        padding: 30px;
      }
    
    .right-container {
        width: 100%;
      }
    .text-container {
        float: left;
        width:100% ;
      }

    .circle-images {
       display: none;
      }

    .circle-images-mobile {
        display: block;
        width: 100%;
        text-align: center;
      }
     
    .homepage-text h2, .homepage-text h3 {
        color: #f0f0f0;
        font-size: 2.0rem;
        text-align: center;
        margin: 20px 40px;
      }

    #feedback {
        height: 100px;
        width: 300px;
      } 

    .fluid-container {
      height: auto;
      margin-left: 20%;
      }
    .homepage-text {
      width: 90%;
      margin: 0 5%;
   
      }
    
}

 /* styling for mobile  menu to be added below*/
 
    .main-nav.show .line1 {
      transform: translate(-10px) rotate(45deg) translate(15px);
}
    .main-nav.show .line2 {
      opacity: 0;
}
    .main-nav.show .line3 {
      transform: translate(-10px) rotate(-45deg) translate(15px);
}
    .main-nav.show .nav-links {
      transform: translateX(0%);
}
  @media screen and (max-width: 800px) {
    .nav-links {
      width: 50%;
  }
}
  @media screen and (max-width: 600px) {
    .burger {
      display: block;
  }
    .nav-links {
      position: fixed;
      top: 8vh;
      right: 0;
      height: 30vh;
      width: 40%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      background: rgb(22, 22, 22);
      transform: translateX(100%);
      transition: transform 1s ease;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
}